<h1>Person</h1>
<div>
	{{wholeGraph}}
	<form ng-submit="submitperson()">
		<label>First name</label>
		<input ng-model="person.fornavn">
		<label>Last name</label>
		<input ng-model="person.etternavn"><br> 
<!-- 		<label>Gender</label>	
		<input type="radio" name="gender" value="male" ng-model="gender">Male
		<input type="radio" name="gender" value="female" ng-model="gender">Female<br> -->
		<label>Age</label>
		<input ng-model="person.alder"></input><br>
		<label>Study program</label>
		<input ng-model="person.studieretning"><br>
		<button class="btn btn-default">Submit</button>
	.@</form>
	{{person.fornavn}} {{person.etternavn}}
	{{person.alder}}
	{{person.studieretning}}
	<br>
	<div>
		<div ng-show="name">
			{{person.fornavn}} kjenner <input auto-complete ui-items="venner" ng-model="selected"> <button class="btn btn-default" ng-click="lagreKjenner(selected)">Lagre</button> <br>
		</div>
		<div ng-show="selected" ng-repeat="venn in venner">
			
				{{person.fornavn}} har venn {{venn.firstName}}
		</div>
	</div>
	<div>
		Response: {{graph}} <br>
		Test: {{test.c}}
	</div>
</div>